# npm
node_modules
package-lock.json
*.log
*.gz

# ignore build
build
build/*
build/index.js

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore

# dotenv environment variable files
.env
.env.dev
.env.development.local
.env.test.local
.env.production.local
.env.local

# hidden files
hidden
hidden/*
